* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 25px;
  background-color: #222;
}

.upload-form {
  border-radius: 10px;
  display: flex;
  max-width: 550px;
  padding: 20px;
  flex-flow: column;
  margin: 100px auto 15px auto;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.upload-form label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fafbfb;
  border: 1px solid #e6e8ec;
  color: #737476;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
}

.upload-form label i {
  margin-right: 10px;
  padding: 5px 0;
}

.upload-form label span {
  align-items: center;
  justify-content: center;
  word-break: break-all;
  text-align: left;
}

.upload-form input[type="file"] {
  appearance: none;
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.upload-form textarea {
  border: 1px solid #e6e8ec;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 14px;
  resize: none;
  margin: 10px 0;
  min-height: 60px;
}

.upload-form .progress {
  display: none;
}
.upload-form .result {
  padding-top: 15px;
}
